In [1]:
!pwd

/Users/miles/proj/tripshark/nb

In [2]:
!wc ../data/1_gtfs/routes.txt

     227    1363   23818 ../data/1_gtfs/routes.txt

In [4]:
import pandas as pd

In [14]:
import os

In [15]:
gtfs_files = os.listdir('../data/1_gtfs')

In [26]:
gtfs = {filename.split('.')[0]: pd.read_csv(
        os.path.join('../data/1_gtfs', filename)) for filename in gtfs_files}

In [27]:
for table in gtfs_tables:
    print(table + '\n' + '-'*len(table))
    print(gtfs[table].head())
    print('\n')

fare_rules
----------
   fare_id  route_id  origin_id  destination_id
0      101  100001.0        NaN             NaN
1      110  100001.0        NaN             NaN
2      101  100002.0        NaN             NaN
3      110  100002.0        NaN             NaN
4      102  100003.0        NaN             NaN


agency
------
  agency_id                agency_name  \
0         1              Metro Transit
1        23            City of Seattle
2        40              Sound Transit
3       KMD  Kingcounty Marine Divison

                                          agency_url      agency_timezone  \
0                        http://metro.kingcounty.gov  America/Los_Angeles
1                             http://www.seattle.gov  America/Los_Angeles
2                        http://www.soundtransit.org  America/Los_Angeles
3  http://www.kingcounty.gov/transportation/kcdot...  America/Los_Angeles

  agency_lang    agency_phone  \
0          EN    206-553-3000
1          EN    206-684-7623
2          EN  1-888-889-6368
3          EN    206-684-1515

                                     agency_fare_url
0  http://metro.kingcounty.gov/tops/bus/fare/fare...
1                   http://www.seattlestreetcar.org/
2   http://www.soundtransit.org/Fares-and-Passes.xml
3  http://www.kingcounty.gov/transportation/kcdot...


stop_times
----------
    trip_id  stop_id arrival_time departure_time  stop_sequence stop_headsign  \
0  18155895      450     06:45:15       06:45:15              2           NaN
1  18155895      480     06:48:14       06:48:14              7           NaN
2  18155895     1560     06:50:39       06:50:39             15           NaN
3  18155895     1570     06:51:40       06:51:40             19           NaN
4  18155895    12900     06:53:18       06:53:18             29           NaN

   shape_dist_traveled  fare_period_id
0                  0.0               1
1               1397.4               1
2               2521.4               1
3               3112.8               1
4               4068.2               1


stops
-----
   stop_id                 stop_name   stop_lat    stop_lon  zone_id  \
0    10000  NE 55th St & 43rd Ave NE  47.668575 -122.283653       21
1    10005  40th Ave NE & NE 51st St  47.665886 -122.284897       21
2    10010  NE 55th St & 39th Ave NE  47.668579 -122.285667       21
3    10020  NE 55th St & 37th Ave NE  47.668579 -122.288300       21
4    10030  NE 55th St & 35th Ave NE  47.668579 -122.290512       21

         stop_timezone
0  America/Los_Angeles
1  America/Los_Angeles
2  America/Los_Angeles
3  America/Los_Angeles
4  America/Los_Angeles


shapes
------
   shape_id  shape_pt_sequence  shape_pt_lat  shape_pt_lon  \
0  10002552                  2     47.612152   -122.281746
1  10002552                  3     47.612160   -122.281761
2  10002552                  4     47.612164   -122.281830
3  10002552                  5     47.612122   -122.281921
4  10002552                  6     47.612202   -122.282005

   shape_dist_traveled
0                  0.0
1                  0.0
2                 16.6
3                 45.2
4                 80.5


calendar_dates
--------------
   service_id      date  exception_type
0       10403  20160328               2
1       10403  20160404               2
2       10403  20160411               2
3       10403  20160418               2
4       10403  20160425               2


routes
------
  agency_id  route_id route_short_name route_long_name  route_type  \
0         1    100001                1             NaN           3
1         1    100002               10             NaN           3
2         1    100003              101             NaN           3
3         1    100004              105             NaN           3
4         1    100005              106             NaN           3

                                route_desc  \
0               Kinnear - Downtown Seattle
1          Capitol Hill - Downtown Seattle
2            Renton TC to Downtown Seattle
3               Renton Highlands to Renton
4  Renton TC to Skyway to Downtown Seattle

                                           route_url
0  http://metro.kingcounty.gov/schedules/001/n0.html
1  http://metro.kingcounty.gov/schedules/010/n0.html
2  http://metro.kingcounty.gov/schedules/101/n0.html
3  http://metro.kingcounty.gov/schedules/105/n0.html
4  http://metro.kingcounty.gov/schedules/106/n0.html


calendar
--------
   service_id  monday  tuesday  wednesday  thursday  friday  saturday  sunday  \
0       10155       1        1          1         1       1         0       0
1       10403       0        0          0         0       0         0       1
2       10660       0        0          0         0       0         1       0
3       11383       0        1          0         1       1         0       0
4       11492       1        1          0         1       0         0       0

   start_date  end_date
0    20160304  20160318
1    20160327  20160612
2    20160326  20160611
3    20160304  20160325
4    20160304  20160325


trips
-----
   route_id   trip_id  service_id trip_short_name  \
0    100173  18155895        2132           LOCAL
1    100173  18155899        2132           LOCAL
2    100173  18155902        2132           LOCAL
3    100173  18155906        2132           LOCAL
4    100173  18155908        2132           LOCAL

                          trip_headsign route_short_name  direction_id  \
0  MADRONA AND 34TH AVE VIA E CHERRY ST              NaN             0
1  MADRONA AND 34TH AVE VIA E CHERRY ST              NaN             0
2  MADRONA AND 34TH AVE VIA E CHERRY ST              NaN             0
3  MADRONA AND 34TH AVE VIA E CHERRY ST              NaN             0
4  MADRONA AND 34TH AVE VIA E CHERRY ST              NaN             0

   block_id  shape_id  fare_id
0   3992664  21003564      101
1   3992678  21003564      101
2   3992664  21003564      101
3   3992644  21003562      101
4   3992678  21003564      101


fare_attributes
---------------
   fare_id  fare_period_id  price currency_type  payment_method  transfers  \
0      100               1   0.00           USD               0        NaN
1      110               2   2.75           USD               0        NaN
2      102               1   2.50           USD               0        NaN
3      300               1   0.00           USD               0        0.0
4      101               1   2.50           USD               0        NaN

   transfer_duration  youth_price  senior_price
0               5400          0.0           0.0
1               5400          1.5           1.0
2               5400          1.5           1.0
3                  0          0.0           0.0
4               5400          1.5           1.0

In [30]:
gtfs['trips'].shape

(52194, 10)

In [31]:
gtfs['trips'].head()

,route_id,trip_id,service_id,trip_short_name,trip_headsign,route_short_name,direction_id,block_id,shape_id,fare_id
0,100173,18155895,2132,LOCAL,MADRONA AND 34TH AVE VIA E CHERRY ST,NaN,0,3992664,21003564,101
1,100173,18155899,2132,LOCAL,MADRONA AND 34TH AVE VIA E CHERRY ST,NaN,0,3992678,21003564,101
2,100173,18155902,2132,LOCAL,MADRONA AND 34TH AVE VIA E CHERRY ST,NaN,0,3992664,21003564,101
3,100173,18155906,2132,LOCAL,MADRONA AND 34TH AVE VIA E CHERRY ST,NaN,0,3992644,21003562,101
4,100173,18155908,2132,LOCAL,MADRONA AND 34TH AVE VIA E CHERRY ST,NaN,0,3992678,21003564,101

In [32]:
gtfs['shapes'].head()

,shape_id,shape_pt_sequence,shape_pt_lat,shape_pt_lon,shape_dist_traveled
0,10002552,2,47.612152,-122.281746,0.0
1,10002552,3,47.612160,-122.281761,0.0
2,10002552,4,47.612164,-122.281830,16.6
3,10002552,5,47.612122,-122.281921,45.2
4,10002552,6,47.612202,-122.282005,80.5

In [34]:
import json

In [54]:
top_shapes = gtfs['trips'].groupby('shape_id').count()['trip_id'].sort_values(ascending=False).head(10)
tsi = top_shapes.index
set(tsi)

{10036407,
 10599537,
 11098501,
 20044004,
 20098504,
 20675007,
 21036411,
 21599536,
 30672002,
 41672006}

In [58]:
tr = gtfs['trips'][gtfs['trips']['shape_id'].isin(tsi)]['route_id'].unique()

In [59]:
gtfs['routes'][gtfs['routes']['route_id'].isin(tr)]

,agency_id,route_id,route_short_name,route_long_name,route_type,route_desc,route_url
110,1,100210,36,NaN,3,Othello Stn - Beacon Hill - Downtown Sea,http://metro.kingcounty.gov/schedules/036/n0.html
118,1,100224,44,NaN,3,Ballard - Montlake,http://metro.kingcounty.gov/schedules/044/n0.html
190,1,102548,B Line,B-Line Rapid Ride,3,B-Line Rapid Ride,http://metro.kingcounty.gov/travel-options/bus...
204,1,102615,E Line,E-Line Rapid Ride,3,Aurora Village to Downtown Seattle,http://metro.kingcounty.gov/travel-options/bus...
212,23,100340,Stcr SLU,NaN,0,South Lake Union Streetcar,http://www.seattlestreetcar.org/slu.htm
221,40,100479,LINK,Link light rail,0,LINK to Sea-Tac,http://www.soundtransit.org/Schedules/ST-Expre...

In [60]:
gtfs['shapes'].head()

,shape_id,shape_pt_sequence,shape_pt_lat,shape_pt_lon,shape_dist_traveled
0,10002552,2,47.612152,-122.281746,0.0
1,10002552,3,47.612160,-122.281761,0.0
2,10002552,4,47.612164,-122.281830,16.6
3,10002552,5,47.612122,-122.281921,45.2
4,10002552,6,47.612202,-122.282005,80.5

In [128]:
import geojson
from geojson import Feature, Point, LineString, FeatureCollection

def get_shape(shape_id, gtfs=gtfs):
    """Return a shape sorted by sequence number."""
    shape = gtfs['shapes'][gtfs['shapes']['shape_id'] == shape_id].sort_values(by='shape_pt_sequence')
    return shape
    
def shape_to_geojson(shape_id, gtfs=gtfs):
    """Return GeoJSON string for the given shape ID."""
    shape = get_shape(shape_id)
    shape.columns = ['id', 'seq', 'lat', 'lon', 'dist']  # Rename columns for brevity
    ls = LineString([(p[1]['lon'], p[1]['lat']) for p in shape.iterrows()])
    return geojson.dumps(Feature(geometry=ls, id=shape_id, className={'baseVal': 'bus_route'}))

In [129]:
gj = shape_to_geojson(10002552)

In [130]:
with open('../webapp/route.geojson', 'w') as f_out:
    f_out.write(gj)

In [125]:
shape_id = 10002552
shape = get_shape(shape_id)
shape.columns = ['id', 'seq', 'lat', 'lon', 'dist']  # Rename columns for brevity
ls = LineString([(p[1]['lon'], p[1]['lat']) for p in shape.iterrows()])
fc = FeatureCollection([Feature(geometry=ls, id=shape_id, className={'baseVal': 'bus_route'})])

In [126]:
geojson.dumps(fc)

'{"type": "FeatureCollection", "features": [{"className": {"baseVal": "bus_route"}, "geometry": {"type": "LineString", "coordinates": [[-122.281746, 47.612152000000002], [-122.28176100000002, 47.612159999999996], [-122.28183, 47.612164], [-122.281921, 47.612121999999999], [-122.282005, 47.612202000000003], [-122.28207399999999, 47.612278000000003], [-122.282471, 47.613246999999994], [-122.28253899999999, 47.613419], [-122.282646, 47.613582999999998], [-122.28280600000001, 47.613765999999998], [-122.28387499999999, 47.615184999999997], [-122.28391299999998, 47.615237999999998], [-122.28461499999999, 47.616168999999999], [-122.28461499999999, 47.616459000000006], [-122.284599, 47.616692], [-122.28456899999999, 47.617618999999998], [-122.28472099999999, 47.617885999999999], [-122.28482099999999, 47.618000000000002], [-122.284927, 47.618103000000005], [-122.28506499999999, 47.618190999999996], [-122.285225, 47.618262999999999], [-122.28529399999999, 47.618282000000001], [-122.285408, 47.618309000000004], [-122.285408, 47.618313000000001], [-122.285568, 47.618338999999999], [-122.285706, 47.618359000000005], [-122.286469, 47.618359000000005], [-122.28755200000001, 47.618359000000005], [-122.287971, 47.618369999999999], [-122.288177, 47.618369999999999], [-122.288315, 47.618347], [-122.28843700000002, 47.618338999999999], [-122.288574, 47.618304999999999], [-122.288605, 47.618297999999996], [-122.288673, 47.618274999999997], [-122.28881799999999, 47.618195], [-122.288956, 47.618099000000001], [-122.289078, 47.617977000000003], [-122.289146, 47.617851000000002], [-122.289177, 47.617785999999995], [-122.289177, 47.617653000000004], [-122.28919199999999, 47.617396999999997], [-122.28919999999999, 47.616496999999995], [-122.28921499999998, 47.616306000000002], [-122.28924599999999, 47.615208000000003], [-122.28924599999999, 47.614986000000002], [-122.28926100000001, 47.614604999999997], [-122.28926799999999, 47.614044], [-122.28931399999999, 47.613007000000003], [-122.28931399999999, 47.612887999999998], [-122.290802, 47.612904], [-122.29141200000001, 47.612918999999998], [-122.29258, 47.612929999999999], [-122.29291499999999, 47.612934000000003], [-122.29364, 47.612946000000001], [-122.29373899999999, 47.612941999999997], [-122.293823, 47.612946000000001], [-122.294899, 47.612949], [-122.29529599999999, 47.612953000000005], [-122.295418, 47.612960999999999], [-122.29619599999999, 47.612941999999997], [-122.29750800000001, 47.612934000000003], [-122.297821, 47.612934000000003], [-122.298805, 47.612929999999999], [-122.30011699999999, 47.612934000000003], [-122.30046100000001, 47.612941999999997], [-122.30141399999999, 47.612949], [-122.30281100000001, 47.612941999999997], [-122.30300099999999, 47.612941999999997], [-122.303642, 47.612929999999999], [-122.30495500000001, 47.612918999999998], [-122.306168, 47.612907], [-122.306252, 47.612907], [-122.30751000000001, 47.612900000000003], [-122.30817399999999, 47.612900000000003], [-122.30886100000001, 47.612900000000003], [-122.309349, 47.612904], [-122.309517, 47.612904], [-122.31017299999999, 47.612904], [-122.310829, 47.612904], [-122.311485, 47.612907], [-122.31192, 47.612907], [-122.312141, 47.612910999999997], [-122.31278200000001, 47.612910999999997], [-122.313461, 47.612918999999998], [-122.31416299999999, 47.612918999999998], [-122.31442300000001, 47.612918999999998], [-122.31543000000001, 47.612907], [-122.31549800000001, 47.613021999999994], [-122.315529, 47.613354000000001], [-122.31622299999999, 47.613064000000001], [-122.316551, 47.612929999999999], [-122.31678000000001, 47.612873], [-122.317001, 47.612910999999997], [-122.318123, 47.612929999999999], [-122.31943500000001, 47.612941999999997], [-122.319855, 47.612941999999997], [-122.32061000000002, 47.612949], [-122.32061000000002, 47.612949], [-122.32093799999998, 47.612988000000001], [-122.321602, 47.612988000000001], [-122.32173200000001, 47.612971999999999], [-122.32183799999999, 47.612949], [-122.32190700000001, 47.612910999999997], [-122.32196, 47.612881000000002], [-122.32199900000001, 47.612839000000001], [-122.32206000000001, 47.612797], [-122.322098, 47.612732000000001], [-122.32222, 47.612563999999999], [-122.32222, 47.612559999999995], [-122.322273, 47.612510999999998], [-122.32234199999999, 47.612487999999999], [-122.32256299999999, 47.612389], [-122.32311999999999, 47.612159999999996], [-122.323669, 47.611927000000001], [-122.324226, 47.611694], [-122.324532, 47.611571999999995], [-122.32479099999999, 47.611462000000003], [-122.325333, 47.611228999999994], [-122.326195, 47.610874000000003], [-122.32631699999999, 47.610824999999998], [-122.32643899999999, 47.610762999999999], [-122.327003, 47.610531000000002], [-122.32756000000001, 47.610302000000004], [-122.32785800000001, 47.61018], [-122.328667, 47.609836999999999], [-122.32923100000001, 47.609603999999997], [-122.329773, 47.609366999999999], [-122.33013200000001, 47.609226], [-122.33033799999998, 47.609146000000003], [-122.33081100000001, 47.608944000000001], [-122.33101699999999, 47.60886], [-122.33116899999999, 47.608787], [-122.331429, 47.608680999999997], [-122.331429, 47.608680999999997], [-122.33200100000001, 47.608443999999999], [-122.33255, 47.608215000000001], [-122.33310700000001, 47.607975000000003], [-122.333679, 47.607742000000002], [-122.334557, 47.607368000000001], [-122.334763, 47.607287999999997], [-122.335228, 47.607094000000004], [-122.33532, 47.607052000000003], [-122.335976, 47.607760999999996], [-122.33689099999999, 47.608753], [-122.33766899999999, 47.609608000000001], [-122.338486, 47.610515999999997], [-122.338707, 47.610745000000001], [-122.33936299999999, 47.611443000000001], [-122.339401, 47.611491999999998], [-122.33944699999999, 47.611534000000006], [-122.3395, 47.611571999999995], [-122.3396, 47.611629000000001], [-122.340897, 47.612400000000001], [-122.34150700000001, 47.612763000000001], [-122.34219399999999, 47.613166999999997], [-122.343506, 47.613937], [-122.34436000000001, 47.614449], [-122.344803, 47.614699999999999], [-122.34526799999999, 47.614983000000002], [-122.34605400000001, 47.615456000000002], [-122.34610000000001, 47.615479000000001], [-122.346153, 47.615504999999999], [-122.347031, 47.616028], [-122.34796899999999, 47.616580999999996], [-122.348366, 47.616813999999998], [-122.3489, 47.617134], [-122.34983799999999, 47.617686999999997], [-122.350784, 47.618243999999997], [-122.351219, 47.617915999999994], [-122.351646, 47.617579999999997], [-122.35206599999999, 47.617259999999995], [-122.35250900000001, 47.61692], [-122.35291299999999, 47.617160999999996], [-122.35382800000001, 47.617703000000006], [-122.354156, 47.617870000000003], [-122.35493500000001, 47.618304999999999], [-122.35517900000001, 47.618442999999999], [-122.355453, 47.618904000000001], [-122.35543799999999, 47.619765999999998], [-122.35543799999999, 47.620936999999998], [-122.35543100000001, 47.622101000000001], [-122.35541499999999, 47.623187999999999], [-122.35541499999999, 47.623272], [-122.3554, 47.624577000000002], [-122.3554, 47.624736999999996], [-122.3554, 47.625446000000004], [-122.35671200000002, 47.625458000000002], [-122.35671200000002, 47.625717000000002], [-122.356697, 47.626323999999997], [-122.356697, 47.627109999999995], [-122.356697, 47.627192999999998], [-122.35668200000001, 47.627811000000001], [-122.35668200000001, 47.628067000000001], [-122.35668200000001, 47.628318999999998], [-122.35668200000001, 47.628708000000003], [-122.356628, 47.629570000000001], [-122.356613, 47.629790999999997], [-122.356613, 47.630435999999996], [-122.356606, 47.631306000000002], [-122.356606, 47.631496000000006], [-122.35659, 47.631950000000003], [-122.356613, 47.632129999999997], [-122.35665900000001, 47.632224999999998], [-122.357079, 47.63232], [-122.35766599999999, 47.63232], [-122.35788700000001, 47.632317], [-122.35833700000001, 47.63232], [-122.358627, 47.63232], [-122.35900900000001, 47.63232], [-122.3592, 47.63232], [-122.35968799999999, 47.632328000000001], [-122.36041299999999, 47.632328000000001], [-122.36103100000001, 47.632328000000001], [-122.36129, 47.632328000000001], [-122.361755, 47.632328000000001], [-122.36236599999999, 47.632328000000001], [-122.36307499999999, 47.632331999999998], [-122.363708, 47.632328000000001], [-122.36403700000001, 47.632328000000001], [-122.364418, 47.632328000000001], [-122.365059, 47.632331999999998], [-122.36502800000001, 47.63353], [-122.36502800000001, 47.633709000000003], [-122.365021, 47.634743], [-122.36500500000001, 47.635940999999995], [-122.36500500000001, 47.636161999999999], [-122.364975, 47.637751999999999], [-122.364975, 47.637970000000003], [-122.364952, 47.639598999999997], [-122.364952, 47.639846999999996], [-122.36492199999999, 47.641410999999998], [-122.36492199999999, 47.641632000000001], [-122.36492199999999, 47.642047999999996], [-122.364906, 47.642712000000003], [-122.364906, 47.642936999999996], [-122.364906, 47.643008999999999], [-122.364906, 47.643115999999999], [-122.366249, 47.642734999999995]]}, "type": "Feature", "id": 10002552, "properties": {}}]}'

In [117]:
shape

           id  seq        lat         lon     dist
0    10002552    2  47.612152 -122.281746      0.0
1    10002552    3  47.612160 -122.281761      0.0
2    10002552    4  47.612164 -122.281830     16.6
3    10002552    5  47.612122 -122.281921     45.2
4    10002552    6  47.612202 -122.282005     80.5
5    10002552    7  47.612278 -122.282074    113.5
6    10002552    8  47.613247 -122.282471    479.2
7    10002552    9  47.613419 -122.282539    545.0
8    10002552   10  47.613583 -122.282646    611.2
9    10002552   11  47.613766 -122.282806    689.4
10   10002552   12  47.615185 -122.283875   1269.8
11   10002552   13  47.615238 -122.283913   1290.7
12   10002552   14  47.616169 -122.284615   1671.2
13   10002552   15  47.616459 -122.284615   1778.8
14   10002552   16  47.616692 -122.284599   1861.8
15   10002552   17  47.617619 -122.284569   2199.9
16   10002552   18  47.617886 -122.284721   2304.8
17   10002552   19  47.618000 -122.284821   2353.0
18   10002552   20  47.618103 -122.284927   2400.3
19   10002552   21  47.618191 -122.285065   2446.5
20   10002552   22  47.618263 -122.285225   2494.3
21   10002552   23  47.618282 -122.285294   2512.0
22   10002552   24  47.618309 -122.285408   2541.3
23   10002552   25  47.618313 -122.285408   2543.1
24   10002552   26  47.618339 -122.285568   2581.6
25   10002552   27  47.618359 -122.285706   2618.5
26   10002552   28  47.618359 -122.286469   2805.9
27   10002552   29  47.618359 -122.287552   3071.0
28   10002552   30  47.618370 -122.287971   3178.0
29   10002552   31  47.618370 -122.288177   3226.0
..        ...  ...        ...         ...      ...
209  10002552  219  47.632320 -122.359009  30690.2
210  10002552  220  47.632320 -122.359200  30736.4
211  10002552  221  47.632328 -122.359688  30857.2
212  10002552  222  47.632328 -122.360413  31038.4
213  10002552  223  47.632328 -122.361031  31188.0
214  10002552  224  47.632328 -122.361290  31252.0
215  10002552  225  47.632328 -122.361755  31368.0
216  10002552  226  47.632328 -122.362366  31518.9
217  10002552  227  47.632332 -122.363075  31692.7
218  10002552  228  47.632328 -122.363708  31850.0
219  10002552  229  47.632328 -122.364037  31930.0
220  10002552  230  47.632328 -122.364418  32023.4
221  10002552  231  47.632332 -122.365059  32180.6
222  10002552  232  47.633530 -122.365028  32617.8
223  10002552  233  47.633709 -122.365028  32682.8
224  10002552  234  47.634743 -122.365021  33060.6
225  10002552  235  47.635941 -122.365005  33497.4
226  10002552  236  47.636162 -122.365005  33577.4
227  10002552  237  47.637752 -122.364975  34161.2
228  10002552  238  47.637970 -122.364975  34239.2
229  10002552  239  47.639599 -122.364952  34831.3
230  10002552  240  47.639847 -122.364952  34921.3
231  10002552  241  47.641411 -122.364922  35493.7
232  10002552  242  47.641632 -122.364922  35573.7
233  10002552  243  47.642048 -122.364922  35725.5
234  10002552  244  47.642712 -122.364906  35967.5
235  10002552  245  47.642937 -122.364906  36050.2
236  10002552  246  47.643009 -122.364906  36075.5
237  10002552  247  47.643116 -122.364906  36115.4
238  10002552  249  47.642735 -122.366249  36582.4

[239 rows x 5 columns]